@import "tailwindcss";
@layer components {
    .post h1 {
        @apply text-4xl font-bold my-2
    }
    .post h2 {
        @apply text-3xl font-bold my-2
    }
    .post h3 {
        @apply text-2xl font-bold my-2
    }
    .post h4 {
        @apply text-3xl font-bold my-2
    }
    .post b {
        @apply font-bold
    }
    .post p {
        @apply my-2
    }
    .post a {
        @apply underline
    }


.routing-progress, .routing-progress progress {
    position: absolute;
	height: 3px;
    background-color: transparent;
	width: 100%;
}
}
